.control-section-elearning-education h3.accordion-section-title {
    background: #f14d5d !important;
}
a.button.button-secondary.alignright{
    background: #120f2d;
}
a.button.button-secondary.alignright {
    padding: 0 6px;
    margin-top: -5px;
}
